@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --dark_blue: #081A59;
  --white_bg: #ffffff;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-main {
    width: 100%;
    display: flex;
}

#logo-name{
    display: none;
}

.signup-side {
    width: 35%;
    height: 100vh;
    background-color: var(--dark_blue);
}

.signup-input {
    width: 65%;
    height: 100vh;
    background-color: var(--white_bg);
}

.signup-side {
    padding: 5% 3%;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
}

#signup-logo {
    width: 50%;
    margin-bottom:40px;
}

#welcome{
    font-size: 3.5vw;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5%;
}

.logo-stuff {
    width: 100%;
}

#brief{
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.7;
}

.order {
    padding: 7% 0 0 5%;
    width: 100%;
}

#signup-go {
    font-size: 3.3vw;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: #081A59;
}

#rule {
    opacity: 0.5;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

#signup-go1 {
    display: none;
}

.input_field {
    padding: 2% 5% 0 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.errordisplay {
    color: red;
    margin: -5px 0 0;
}

.input_field1{
    padding: 2% 5% 0 5%;
    margin: 0 5px;
    width: 98%;
    font-family: 'Open Sans', sans-serif;
}

.input_con {
    width: 100%; 
    margin: 0 5px;
}

.input_con_email{
    padding: 2% 5% 0 5%;
    width: 90%;
    margin: 0 10px;
    color: rebeccapurple;
    background-color: rebeccapurple;
}

input {
    width: 98%;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    padding:  0 7px ;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

#dive_in:hover {
    color: rgb(80, 214, 75);
    transition: 0.3s ease-in-out;
}

input#email, input#signup-submit {
    width: 100%;
}

#region {
    width: 98%;
    height: 45px;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid black;
}

.submit1 {
    padding: 2% 5% 0 5%;
    margin: 4% 0 1.2%;
}

input#signup-submit {
    background-color: #081A59;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

input#signup-submit:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

#region option {
    text-transform: capitalize;
}

#already {
    text-align: center;
    color: #081A59;
    opacity: 0.9;
}

.submit1 p a {
    color: #081A59;
    font-weight:700;
    text-decoration: none;
}

@media only screen and (max-width: 720px) and (min-width: 620px) {
    #signup-go{
        font-size: 4vw;
    }

    .signup-side {
        padding-top: 10%;
    }

    .signup-input {
        padding-top: 5%;
    }
}

@media only screen and (max-width: 690px) and (min-width: 350px) {
    .signup-main {
        display: block;
        scroll-behavior: smooth;
        margin-bottom: 50px;
    }

    .signup-side {
        width: 100%;
        background-color: #081A59;
        height: 150px;
        position: fixed;
    }

    #welcome, #brief {
        display: none;
    }

    #logo-name {
        display: block;
    }

    .logo-stuff {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #signup-logo {
        width: 50px;
        margin: 0;
        padding-right: 5px;
    }

    .signup-input {
        width: 100%;
        scroll-behavior: smooth;
    }

    #signup-go {
        display: none;
    }

    #logo-name {
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .signup-side {
        text-align: left;
        padding: 20px;
    }

    #signup-go1 {
        display: block;
        font-size: 2.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 5px 0 0 10px;
    }

    .signup-input {
        padding-top: 150px;
    }

    .order {
        padding: 5px 0 0 35px;
    }

    .input_field {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0 30px 0;
    }

    .input_field1 {
        width: 100%;
        display: inline-block;
        margin: 0 0 0 5px;
        padding: 0 30px 0;
    }

    input {
        width: 100%;
        margin-bottom:15px;
    }

    #region {
        width: 100%;
    }

    .signup-main {
        padding-bottom: 30px;

    }
}

