@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --dark_blue: #081A59;
  --white_bg: #ffffff;
}

*, body {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.dashboard-home {
    display: flex;
    overflow: hidden;
}

.menu-sidebar {
    width: 280px;
    padding: 20px;
    display: block;
    background-color: var(--dark_blue);
    overflow: hidden;
}

.fas {
    color: #ffffff;
}

.fa-bars {
    float: right;
}

#com_logo {
    width: 30%;
}

.logoName {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 100px;
}

.nav_option {
    text-decoration: none;
    color: red;
}

#comp_name {
    font-size: 2.2rem;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-left: 7px;
}

.home-option {
    cursor: pointer;
    margin: 10% 0 5% 10%;
    display: flex;
    align-items: center;
}

.home-option:hover > * {
    color: #27409c;
}

.fa-circle {
    visibility: hidden;
    margin-right: 9px;
}

#damn5 {
    visibility: visible;
}

#analytics-page>* {
    color: #5a6eb8;
}

.home-option span {
    color: #ffffff;
    margin-left: 15px;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#add, #post {
    margin-left: 22px;
}

.posting {
    margin-bottom: 220px;
}

.main-content {
    width: 90%;
}

.header-content {
    width: 100%;
    padding: 0 2% 0 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 1% 0 4.5%;
}

.user-power {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.has-search {
    width: 70%;
    margin: 3%;
}

.has-search .form-control {
    padding-left: 2.375rem;
    width: 100% !important;
    margin-right: 3.5rem;
    background-color: rgba(209, 229, 238, 0.25);
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#dashboard-header {
    font-size: 2.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #081A59;
}

.header *{
    margin: 0 5px;
}

.fa-user {
    margin-left: 5%;
}

.fa-bell {
     margin-left: 2%;
     cursor: pointer;
}

.home-page-main {
    width: 100%;
    display:flex;
}

.content-info {
    background-color: rgba(209, 229, 238, 0.25);
    opacity: 100%;
    height: 80vh;
    margin: 0.8% 3% 0;
    border-radius: 10px;
}

.content-info {
    width: 95%;
    display: block;
    overflow: hidden;
    padding: 3% 3%;
}

.main-analytics {
    display: flex;
    justify-content: space-between;
}

.analytic {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 40vh;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.the-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081A59;
    height: 70%;
    color: #ffffff;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
}

.num-value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px gray inset;
    font-size: 2rem;
    color: #00EC18;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#loggin-out {
    outline: none;
    border: none;
    background-color: #081A59;
}